@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Iceberg&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family:;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    /* true background */
    z-index: -1;          /* behind everything */
}

.info-box {
    background: rgba(0, 0, 0, 0.6); /* darker for readability */
    padding: 30px 45px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    margin: 120px auto;
    width: 70%;
    text-align: left; /* left-align for bullet points */
    color: white;
}

.info-box h1 {
    color: #ff4500; /* Mars-like orange */
    margin-bottom: 15px;
    text-align: center;
    font-family: "Press Start 2P";
}

.info-box h3 {
    color: #ffa500; /* lighter orange */
    margin-bottom: 10px;
    text-align: center;
}

.info-box ul {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 1.6;
    font-size: 18px;
}

.subtitle {
    font-size: 22px;
    margin-top: 20px;
}


.solar-system{
    position:relative;
    width:400px;
    height:400px;
    margin:40px auto;
}

/* Sun */
.sun{
    position:absolute;
    top:50%;
    left:50%;
    width:80px;
    height:80px;
    background: radial-gradient(circle, yellow, orange, red);
    border-radius:50%;
    transform:translate(-50%,-50%);
    box-shadow:0 0 60px yellow;
}

/* Orbit path */
.orbit{
    position:absolute;
    border:1px dashed rgba(255,255,255,0.2);
    border-radius:50%;
    animation: rotate 10s linear infinite;
}

/* Planet */
.planet{
    width:20px;
    height:20px;
    background:lightblue;
    border-radius:50%;
    position:absolute;
    top:-10px;
    left:50%;
}

/* Orbit sizes */
.mercury{
    width:150px;
    height:150px;
    top:125px;
    left:125px;
    animation-duration:6s;
}

.venus{
    width:220px;
    height:220px;
    top:90px;
    left:90px;
    animation-duration:10s;
}

.earth{
    width:300px;
    height:300px;
    top:50px;
    left:50px;
    animation-duration:14s;
}

.mars{
    width:360px;
    height:360px;
    top:20px;
    left:20px;
    animation-duration:18s;
}


.jupiter{
    width:440px;
    height:440px;
    top:-20px;
    left:-20px;
    animation-duration:24s;
}


.saturn{
    width:520px;
    height:520px;
    top:-60px;
    left:-60px;
    animation-duration:30s;
}


.uranus{
    width:600px;
    height:600px;
    top:-100px;
    left:-100px;
    animation-duration:36s;
}

.neptune{
    width:680px;
    height:680px;
    top:-140px;
    left:-140px;
    animation-duration:42s;
}
